# Importing all Important libraries

In [65]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [66]:
import nltk
from nltk import word_tokenize
from nltk.util import ngrams
from collections import Counter

# Beginning with n-grams

In [67]:
text = "Hi everyone we can start the assignment by printing basic things\
so that it becomes easy to understand what we actually want to achieve from this\
assignment. Hope you enjoy the practical session of today and if you have any\
doubts you can always reach out to me"
token = nltk.word_tokenize(text)
bigrams = ngrams(token,2)
trigrams = ngrams(token,3)
fourgrams = ngrams(token,4)
fivegrams = ngrams(token,5)

## Bigrams

In [68]:
print(Counter(bigrams))

Counter({('Hi', 'everyone'): 1, ('everyone', 'we'): 1, ('we', 'can'): 1, ('can', 'start'): 1, ('start', 'the'): 1, ('the', 'assignment'): 1, ('assignment', 'by'): 1, ('by', 'printing'): 1, ('printing', 'basic'): 1, ('basic', 'thingsso'): 1, ('thingsso', 'that'): 1, ('that', 'it'): 1, ('it', 'becomes'): 1, ('becomes', 'easy'): 1, ('easy', 'to'): 1, ('to', 'understand'): 1, ('understand', 'what'): 1, ('what', 'we'): 1, ('we', 'actually'): 1, ('actually', 'want'): 1, ('want', 'to'): 1, ('to', 'achieve'): 1, ('achieve', 'from'): 1, ('from', 'thisassignment'): 1, ('thisassignment', '.'): 1, ('.', 'Hope'): 1, ('Hope', 'you'): 1, ('you', 'enjoy'): 1, ('enjoy', 'the'): 1, ('the', 'practical'): 1, ('practical', 'session'): 1, ('session', 'of'): 1, ('of', 'today'): 1, ('today', 'and'): 1, ('and', 'if'): 1, ('if', 'you'): 1, ('you', 'have'): 1, ('have', 'anydoubts'): 1, ('anydoubts', 'you'): 1, ('you', 'can'): 1, ('can', 'always'): 1, ('always', 'reach'): 1, ('reach', 'out'): 1, ('out', 'to'): 1, ('to', 'me'): 1})

## Trigrams

In [69]:
print(Counter(trigrams))

Counter({('Hi', 'everyone', 'we'): 1, ('everyone', 'we', 'can'): 1, ('we', 'can', 'start'): 1, ('can', 'start', 'the'): 1, ('start', 'the', 'assignment'): 1, ('the', 'assignment', 'by'): 1, ('assignment', 'by', 'printing'): 1, ('by', 'printing', 'basic'): 1, ('printing', 'basic', 'thingsso'): 1, ('basic', 'thingsso', 'that'): 1, ('thingsso', 'that', 'it'): 1, ('that', 'it', 'becomes'): 1, ('it', 'becomes', 'easy'): 1, ('becomes', 'easy', 'to'): 1, ('easy', 'to', 'understand'): 1, ('to', 'understand', 'what'): 1, ('understand', 'what', 'we'): 1, ('what', 'we', 'actually'): 1, ('we', 'actually', 'want'): 1, ('actually', 'want', 'to'): 1, ('want', 'to', 'achieve'): 1, ('to', 'achieve', 'from'): 1, ('achieve', 'from', 'thisassignment'): 1, ('from', 'thisassignment', '.'): 1, ('thisassignment', '.', 'Hope'): 1, ('.', 'Hope', 'you'): 1, ('Hope', 'you', 'enjoy'): 1, ('you', 'enjoy', 'the'): 1, ('enjoy', 'the', 'practical'): 1, ('the', 'practical', 'session'): 1, ('practical', 'session', 'of'): 1, ('session', 'of', 'today'): 1, ('of', 'today', 'and'): 1, ('today', 'and', 'if'): 1, ('and', 'if', 'you'): 1, ('if', 'you', 'have'): 1, ('you', 'have', 'anydoubts'): 1, ('have', 'anydoubts', 'you'): 1, ('anydoubts', 'you', 'can'): 1, ('you', 'can', 'always'): 1, ('can', 'always', 'reach'): 1, ('always', 'reach', 'out'): 1, ('reach', 'out', 'to'): 1, ('out', 'to', 'me'): 1})

## Fourgrams

In [70]:
print(Counter(fourgrams))

Counter({('Hi', 'everyone', 'we', 'can'): 1, ('everyone', 'we', 'can', 'start'): 1, ('we', 'can', 'start', 'the'): 1, ('can', 'start', 'the', 'assignment'): 1, ('start', 'the', 'assignment', 'by'): 1, ('the', 'assignment', 'by', 'printing'): 1, ('assignment', 'by', 'printing', 'basic'): 1, ('by', 'printing', 'basic', 'thingsso'): 1, ('printing', 'basic', 'thingsso', 'that'): 1, ('basic', 'thingsso', 'that', 'it'): 1, ('thingsso', 'that', 'it', 'becomes'): 1, ('that', 'it', 'becomes', 'easy'): 1, ('it', 'becomes', 'easy', 'to'): 1, ('becomes', 'easy', 'to', 'understand'): 1, ('easy', 'to', 'understand', 'what'): 1, ('to', 'understand', 'what', 'we'): 1, ('understand', 'what', 'we', 'actually'): 1, ('what', 'we', 'actually', 'want'): 1, ('we', 'actually', 'want', 'to'): 1, ('actually', 'want', 'to', 'achieve'): 1, ('want', 'to', 'achieve', 'from'): 1, ('to', 'achieve', 'from', 'thisassignment'): 1, ('achieve', 'from', 'thisassignment', '.'): 1, ('from', 'thisassignment', '.', 'Hope'): 1, ('thisassignment', '.', 'Hope', 'you'): 1, ('.', 'Hope', 'you', 'enjoy'): 1, ('Hope', 'you', 'enjoy', 'the'): 1, ('you', 'enjoy', 'the', 'practical'): 1, ('enjoy', 'the', 'practical', 'session'): 1, ('the', 'practical', 'session', 'of'): 1, ('practical', 'session', 'of', 'today'): 1, ('session', 'of', 'today', 'and'): 1, ('of', 'today', 'and', 'if'): 1, ('today', 'and', 'if', 'you'): 1, ('and', 'if', 'you', 'have'): 1, ('if', 'you', 'have', 'anydoubts'): 1, ('you', 'have', 'anydoubts', 'you'): 1, ('have', 'anydoubts', 'you', 'can'): 1, ('anydoubts', 'you', 'can', 'always'): 1, ('you', 'can', 'always', 'reach'): 1, ('can', 'always', 'reach', 'out'): 1, ('always', 'reach', 'out', 'to'): 1, ('reach', 'out', 'to', 'me'): 1})

## Fivegrams

In [71]:
print(Counter(fivegrams))

Counter({('Hi', 'everyone', 'we', 'can', 'start'): 1, ('everyone', 'we', 'can', 'start', 'the'): 1, ('we', 'can', 'start', 'the', 'assignment'): 1, ('can', 'start', 'the', 'assignment', 'by'): 1, ('start', 'the', 'assignment', 'by', 'printing'): 1, ('the', 'assignment', 'by', 'printing', 'basic'): 1, ('assignment', 'by', 'printing', 'basic', 'thingsso'): 1, ('by', 'printing', 'basic', 'thingsso', 'that'): 1, ('printing', 'basic', 'thingsso', 'that', 'it'): 1, ('basic', 'thingsso', 'that', 'it', 'becomes'): 1, ('thingsso', 'that', 'it', 'becomes', 'easy'): 1, ('that', 'it', 'becomes', 'easy', 'to'): 1, ('it', 'becomes', 'easy', 'to', 'understand'): 1, ('becomes', 'easy', 'to', 'understand', 'what'): 1, ('easy', 'to', 'understand', 'what', 'we'): 1, ('to', 'understand', 'what', 'we', 'actually'): 1, ('understand', 'what', 'we', 'actually', 'want'): 1, ('what', 'we', 'actually', 'want', 'to'): 1, ('we', 'actually', 'want', 'to', 'achieve'): 1, ('actually', 'want', 'to', 'achieve', 'from'): 1, ('want', 'to', 'achieve', 'from', 'thisassignment'): 1, ('to', 'achieve', 'from', 'thisassignment', '.'): 1, ('achieve', 'from', 'thisassignment', '.', 'Hope'): 1, ('from', 'thisassignment', '.', 'Hope', 'you'): 1, ('thisassignment', '.', 'Hope', 'you', 'enjoy'): 1, ('.', 'Hope', 'you', 'enjoy', 'the'): 1, ('Hope', 'you', 'enjoy', 'the', 'practical'): 1, ('you', 'enjoy', 'the', 'practical', 'session'): 1, ('enjoy', 'the', 'practical', 'session', 'of'): 1, ('the', 'practical', 'session', 'of', 'today'): 1, ('practical', 'session', 'of', 'today', 'and'): 1, ('session', 'of', 'today', 'and', 'if'): 1, ('of', 'today', 'and', 'if', 'you'): 1, ('today', 'and', 'if', 'you', 'have'): 1, ('and', 'if', 'you', 'have', 'anydoubts'): 1, ('if', 'you', 'have', 'anydoubts', 'you'): 1, ('you', 'have', 'anydoubts', 'you', 'can'): 1, ('have', 'anydoubts', 'you', 'can', 'always'): 1, ('anydoubts', 'you', 'can', 'always', 'reach'): 1, ('you', 'can', 'always', 'reach', 'out'): 1, ('can', 'always', 'reach', 'out', 'to'): 1, ('always', 'reach', 'out', 'to', 'me'): 1})

# Working on Real Movie Review Dataset

In [72]:
import pandas as pd
train_data_sent = pd.read_csv('movie_review.csv')
train_data_sent.head()

   fold_id cv_tag  ...                                               text  tag
0        0  cv000  ...  films adapted from comic books have had plenty...  pos
1        0  cv000  ...  for starters , it was created by alan moore ( ...  pos
2        0  cv000  ...  to say moore and campbell thoroughly researche...  pos
3        0  cv000  ...  the book ( or " graphic novel , " if you will ...  pos
4        0  cv000  ...  in other words , don't dismiss this film becau...  pos

[5 rows x 6 columns]

In [73]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import re
import glob
import random
import seaborn as sns
import string

## Data Processing

In [74]:
train_data_sent['sentence_clean'] = train_data_sent['text'].str.replace('[{}]'.format(string.punctuation), '')
train_data_sent['sentence_clean'] = train_data_sent['sentence_clean'].str.lower()
#train_data_senti=train_data_sent
train_data_sent=train_data_sent.head(1000)

In [75]:
train_data_sent.head()

   fold_id cv_tag  ...  tag                                     sentence_clean
0        0  cv000  ...  pos  films adapted from comic books have had plenty...
1        0  cv000  ...  pos  for starters  it was created by alan moore  an...
2        0  cv000  ...  pos  to say moore and campbell thoroughly researche...
3        0  cv000  ...  pos  the book  or  graphic novel   if you will  is ...
4        0  cv000  ...  pos  in other words  dont dismiss this film because...

[5 rows x 7 columns]

# Bigram Implementation

In [76]:
from collections import defaultdict
from nltk import bigrams, trigrams
from collections import Counter

model_2 = defaultdict(lambda: defaultdict(lambda: 0))


for sentence in train_data_sent['sentence_clean']:
  #Split the sentence into bigrams inorder to count the frequencies of the bigrams
  for w1, w2 in bigrams(sentence.split(), pad_right=True, pad_left=True):
    model_2[(w1)][w2] += 1

In [77]:
model_2['apart']

defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
            {'as': 1, 'in': 1, 'tommys': 1})

In [78]:
print("The Number of times *america after* bigram has existed is ",model_2['america']['after'])

The Number of times *america after* bigram has existed is  1

In [79]:
for w1 in model_2:
    total_count = float(sum(model_2[w1].values()))
    for w2 in model_2[w1]:
        model_2[w1][w2] /= total_count

In [80]:
model_2[('apart')]

defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
            {'as': 0.3333333333333333,
             'in': 0.3333333333333333,
             'tommys': 0.3333333333333333})

# Trigram Implementation

In [81]:
from collections import defaultdict
from nltk import bigrams, trigrams
from collections import Counter

model_3 = defaultdict(lambda: defaultdict(lambda: 0))


for sentence in train_data_sent['sentence_clean']:
  #Split the sentence into trigrams inorder to count the frequencies of the trigrams
  for w1,w2,w3 in trigrams(sentence.split(), pad_right=True, pad_left=True):
    model_3[(w1,w2)][w3] += 1

In [82]:
model_3[('to','be')]

defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
            {None: 2,
             'a': 5,
             'able': 1,
             'aesthetically': 1,
             'an': 2,
             'born': 1,
             'briefed': 1,
             'carried': 1,
             'chomped': 1,
             'criticized': 1,
             'easier': 1,
             'handfed': 1,
             'having': 1,
             'heard': 1,
             'hippies': 1,
             'his': 1,
             'in': 1,
             'inferring': 1,
             'johns': 1,
             'legally': 1,
             'mistaken': 1,
             'most': 1,
             'overshadowed': 1,
             'puncturing': 1,
             'putting': 1,
             'released': 1,
             'shot': 1,
             'some': 1,
             'taken': 1,
             'the': 2,
             'told': 2,
             'treated': 1,
             'very': 1,
             'worn': 1})

In [83]:
print("The Number of times *to be an* trigram has existed is ",model_3[('to','be')]['an'])

The Number of times *to be an* trigram has existed is  2

In [84]:
for w1_w2 in model_3:
    total_count = float(sum(model_3[w1_w2].values()))
    for w3 in model_3[w1_w2]:
        model_2[(w1_w2)][w3] /= total_count

In [85]:
model_3[('to','be')]

defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
            {None: 2,
             'a': 5,
             'able': 1,
             'aesthetically': 1,
             'an': 2,
             'born': 1,
             'briefed': 1,
             'carried': 1,
             'chomped': 1,
             'criticized': 1,
             'easier': 1,
             'handfed': 1,
             'having': 1,
             'heard': 1,
             'hippies': 1,
             'his': 1,
             'in': 1,
             'inferring': 1,
             'johns': 1,
             'legally': 1,
             'mistaken': 1,
             'most': 1,
             'overshadowed': 1,
             'puncturing': 1,
             'putting': 1,
             'released': 1,
             'shot': 1,
             'some': 1,
             'taken': 1,
             'the': 2,
             'told': 2,
             'treated': 1,
             'very': 1,
             'worn': 1})